.myBoards {
  margin: 30px 50px;
  margin: 0 auto;
  display:flex;
  flex-flow: row wrap;
  max-width:90%;
  color: #000;
}
button.btn.btn-primary.add-board {
  margin: 0px 60px;
}

.board-img {
  height: 200px;
  width: auto;
}
.board {
   margin: 10px;
   max-width:330px;
   background-color: white;
}