#pinboard {
  margin-left: 20px;
}
.myPins {
  margin: 30px 50px;
  margin: 0 auto;
  display:flex;
  flex-flow: row wrap;
  max-width:90%;
}
.add-pin {
  margin: 30px 50px;
}
.pin-img {
  height: 200px;
  width: auto;
}
.pin {
  margin: 10px;
  padding: 10px;
  border: 1px solid brown;
   /*drop shadow*/
   -webkit-box-shadow: 7px 7px 5px 0px rgba(78, 49, 49, 0.75);
   -moz-box-shadow:    7px 7px 5px 0px rgba(50, 50, 50, 0.75);
   box-shadow:         7px 7px 5px 0px rgba(50, 50, 50, 0.75);
   max-width:330px;
}