@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/css/all.min.css";

body {
  background-color: cornflowerblue;
}

.hide {
  display: none;
}

#pinboard {
  margin-left: 20px;
}
#pinboard1 {
  display: flex;
  flex-wrap: row-wrap;
  width: 1000px;
}

.add-board {
  margin-left: 50px;
}

h1 {
  margin-left: 50px;
}
.myboards, .myPins {
  display: flex;
  flex-wrap: row wrap;
  margin: 30px 50px
}
.board-img, .pin-img {
  height: 200px;
  width: auto;
}

.board, .pin {
  margin: 10px;
  padding: 10px;
  border: 1px solid brown;
}

.button-container {
  display: flex;
  justify-content: space-between;
}